*{
  transition: background-color 500ms linear,color 500ms linear, font 500ms linear,background-color 350ms linear, fill 500ms linear;
}
body{
  display: grid;
  align-items: center;
  justify-items: center;
}
.content{
  max-width: var(--content-width);
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--font-weight);
  box-sizing: border-box;
  font-family: var(--font-family);
  background: var(--main-color);
  white-space: nowrap;
  padding: 0 var(--inner-x);
  margin-bottom: var(--outer-y);
  font-size: var(--font-size--S);
  height: var(--size--M);
  border-radius: var(--border-radius);
  color: var(--bg-color);

  transition: box-shadow var(--fast) ease-in-out;
}

svg{
  width: calc(var(--base)*40);
}
